<div id="matrixPopup" class="panel panel-primary matrixPopup">
	<div class="panel-heading">
		<h1 class="panel-title pull-left">Matrix</h1>
		<button id="contentPopupCloseCrossButton" type="button"
			class="btn close pull-right" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body"></div>
	<div class="panel-footer text-right">
		<button type="button" id="contentPopupCloseButton"
			class="btn btn-primary center-block">Close</button>
	</div>
</div>