@import "../../../assets/css/variables.scss";

.Modal {
    position: fixed;
    z-index: 500;
    background-color: beige;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 25%;
    top: 30%;
}

.Show {
    display: block;
}

.Hide {
    display: none;
}